<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <title>memotter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header>
      <div class="header-logo">
        <%= link_to root_path do %>
        <span>memotter</span>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if logged_in? %>
          <li>
            <%= link_to new_memo_path do %>
              <span>メモする</span>
            <% end %>
          </li>
          <li>
            <%= link_to memos_path do %>
              <span>投稿一覧</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/pages/help" do %>
              <span>memotterとは</span>
            <% end %>
          </li>
          <li>
            <%= link_to logout_path, method: :delete do %>
              <span>ログアウト</span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_path do %>
              <span>新規登録</span>
            <% end %>
          </li>
          <li>
            <%= link_to login_path do %>
              <span>ログイン</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/pages/help" do %>
              <span>memotterとは</span>
            <% end %>
          </li>

        <% end %>
      </ul>
    </header>
    <div class="main top-main">

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

      <%= yield %>

      <script>
        $(function(){
          $(".alert").fadeOut(2500);
        });
      </script>
    </div>
  </body>
</html>
