<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <title>memotter</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header>
      <div class="header-logo">
        <!--トップページへのリンクにしてください-->
        <a href="/">memotter</a>
      </div>
      <ul class="header-menus">
        <li>
      <!--サービス紹介ページへのリンクにしてください-->
          <a href="/pages/help">memotterとは</a>
          <a href="index">投稿一覧</a>
          <a href="logout">ログアウト</a>

        </li>
      </ul>
    </header>
    <div class="main top-main">

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

      <%= yield %>

      <script>
        $(function(){
          $(".alert").fadeOut(2500);
        });
      </script>
    </div>
  </body>
</html>
